* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 42px;
    background: #f7f7f7;
}

span {
    font-weight: 600;
    font-size: 5vw;
}

span:hover {
    margin: 0 10px;
    line-height: .7;
    text-shadow: 0 0 2px rgba(0, 0, 0, .45);
    color: #ab1128;
    animation: span 3s ease-in 1 alternate;
    font-weight: 300;
}

.form {
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
}

@keyframes span {
    0%,30%{ margin: 0 15px; }
    70%,100%{ margin: 0 5px; }
}

.row {
    width: 100vw !important;
}

#area {
    text-align: center;
}

.description {
    font-family: 'Roboto', sans-serif;
    font-weight: 350;
    font-size: 15px;
    margin-bottom: 5vh;
    color: #ab1128;
    text-align: center;
}

.base-button {
    font-family: 'Montserrat', sans-serif;
    color: #ab1128;
    background-color: white;
    border-radius: 6px;
    transition-duration: 0.4s;
    box-sizing: border-box;
    font-size: 25px;
}

.txt-input {
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin-bottom: 30px;
}

.txt-field {
    font-family: 'Montserrat', sans-serif;
    height: max(4vh, 25px);
    font-size: 15px;
    background-color: #f7f7f7;
    margin-left: 10px;

    border: thin solid gray;
    border-radius: 3px;
}

.txt-field:focus {
    /*border: 2px solid red;*/
    border-color: #ab1128;
    color: #ab1128;
}

#download-image-button {
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    padding-right: 3vw;
    padding-left: 3vw;
    text-decoration: none;
    font-size: 20px;
}

#elements-area {
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-right: 3vw;
    padding-left: 3vw;
}

#load-image-button:active {
    background-color: #ab1128;
    color: #f7f7f7;
}

#image-input-label {
    color: black;
    background-color: #f7f7f7;
    font-weight: 100 !important;
    border: 2px solid black !important;
    padding: 0 11px;
}

#image-input-label:hover {
    background-color: black;
    color: #f7f7f7 !important;
}

#image-input {
    visibility: hidden;
}

#image-output {
    max-height: min(20vh, 20vw);
    max-width: min(20vh, 20vw);
}

#output-area {
    text-align: center;
}

#method-input {
    margin: 0 11px;
}